# Environments
.env

# Python compilation files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/
ENV/

# Development / Connection Tests
experimental/test_conn.py
test_conn.py

# Data and Outputs
data/
charts/
generated_files/

# IDE files
.DS_Store
.vscode/
.idea/
